.allarea {
  width: 100%;
  height: 100%;
  color: rgb(63, 72, 101);
  display: grid;

  grid-template-columns: 2fr 1fr;

  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "title percent"
    "gauge gauge";
}
.gauge {
  display: grid;
  place-content: center;
  grid-area: gauge;
}
.title {
  display: grid;
  place-content: center;
  grid-area: title;
}
.percent {
  display: grid;
  place-content: center;
  font-size: 1rem;
  grid-area: percent;
}
