.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(98vh - 20px);
  background-color: var(--content-background);
  border-radius: 15px;
  margin: 0;
  padding: 10px;
}
