@media print {
  @page {
    size: 216mm 139mm;
    margin: 5mm 10mm 5mm 10mm;
    /* size: 216mm 280mm; */
    /* margin: 0; */
  }

  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    font-size: 14px;
  }

  .printContainer table.summaries {
    page-break-inside: avoid;
  }

  .printContainer .kop thead {
    display: table-header-group !important;
    page-break-inside: avoid;
    /* height: 3cm; */
  }

  .printContainer .kop tbody {
    display: table-row-group !important;
  }

  .printContainer table.summeries thead {
    display: table-header-group;
  }

  .printContainer table.summeries tbody {
    display: table-row-group;
  }

  .printContainer .row .docTitle {
    font-size: 16px;
  }

  .printContainer .isi .row table.summeries th {
    font-size: 16px;
  }

  .printContainer .isi .row #barcode #formDetail {
    font-size: 12px;
  }

  .printContainer .isi .row #sign {
    /* background-color: chocolate; */
    break-inside: avoid;
    break-after: always;
  }

  /* .printContainer .kop {
    position: fixed;
    top: 0;
    left: 0;
    height: 4.5cm;
    display: block;
  }

  .printContainer .isi {
    background-color: yellowgreen;
    position: relative;
    top: 4.5cm;
  } */
}

@media screen {
  .printContainer,
  .printContainer .row table {
    font-size: 0.7vw;
  }
  .printContainer .row .docTitle {
    font-size: 1vw;
  }
  .printContainer .kop .row table.summeries th {
    font-size: 1vw;
  }

  .printContainer .kop .row #barcode #formDetail {
    font-size: 0.5vw;
  }
}
.displayContainer {
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
  /* border: 3px dashed var(--dark-text); */
  border: 3px dashed blue;
  /* background-color: yellow; */
}

.displayContainer::-webkit-scrollbar {
  /*for chrome*/
  display: none;
}

.printContainer {
  width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
}

.printContainer table thead {
  display: table-header-group;
}

.printContainer table tbody {
  display: table-row-group;
}

.printContainer .kop {
  width: 100%;
  /* border-collapse: collapse; */
  /* border: 1px solid black; */
  /* background-color: orange; */
}

/* .printContainer .kop td {
  border: 1px solid black;
  padding: 5px;
  height: auto;
} */

.printContainer .row {
  width: 100%;
  /* background-color: darkcyan; */
  padding: 0;
  display: flex;
  flex-direction: row;
}

.printContainer .row .docTitle {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  /* background-color: violet; */
}

.printContainer .kop .row #col1,
.printContainer .kop .row #col2 {
  flex: 50%;
  /* background-color: darkcyan; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.printContainer .kop .row #col1 div,
.printContainer .kop .row #col2 div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.printContainer .kop .row #col1 div #title,
.printContainer .kop .row #col2 div #title {
  flex: 30%;
  font-weight: bold;
  /* background-color: aqua; */
}

.printContainer .kop .row #col1 div #value,
.printContainer .kop .row #col2 div #value {
  flex: 70%;
  /* background-color: peru; */
}

.printContainer .kop .row #barcode {
  flex: 50%;
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.printContainer .isi .row table.summeries {
  width: 100%;
  border-collapse: collapse;
}

.printContainer .isi .row table.summeries th {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

.printContainer .isi .row table.summeries td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

.printContainer .isi .row #sign {
  flex: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: greenyellow; */
}

.printContainer .isi .row #sign div {
  text-align: center;
  font-weight: bold;
}
.printContainer .isi .row #sign div #signName {
  /* background-color: olive; */
  padding-top: 25mm;
}

.printContainer .kop {
  /* background-color: goldenrod; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.printContainer .isi {
  /* background-color: darkorchid; */
  width: 100%;
  display: flex;
  flex-direction: column;
}
