.sidebar {
  height: 100%;
  width: 154px;
  background-color: rgb(27, 33, 51);
  color: white;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: 0.5s;
}

.row {
  width: 100%;
  height: 50px;
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 31% 50% 19%;
  grid-template-areas: "logo title arrow";
  color: rgb(239, 35, 60);
  text-decoration: none;
  font-size: 16px;
}

.subRow {
  width: auto;
  height: 30px;
  list-style: none;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 12px;
}

.row:hover {
  cursor: pointer;
  background-color: rgb(12, 18, 36);
}

.row #icon {
  grid-area: logo;
  flex: 31%;
  display: grid;
  place-items: center;
}

.row #title {
  grid-area: title;
  align-items: center;
  justify-content: left;
}

.row #arrow {
  grid-area: arrow;
  display: grid;
  place-items: center;
}

.subRow:hover {
  cursor: pointer;
  background-color: rgb(12, 18, 36);
}

.subRow #icon {
  flex: 31%;
  display: grid;
  place-items: center;
}

.subRow #title {
  flex: 69%;
  display: grid;
  place-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.user #icon {
  flex-basis: 47px;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.user #name {
  flex: 1;
  display: grid;
  place-items: center;
}

.menu {
  width: 48px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
