.sidebar {
  height: 100%;
  min-height: 100vh;
  width: 3vw; /*kebuka 200px*/
  background-color: var(--header-color);
  color: white;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 50;
  transition: 1s;
  overflow: scroll;
  z-index: 7;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.row {
  width: 100%;
  height: 5.25vh;
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 31% 50% 19%;
  grid-template-areas: "logo title arrow";
  color: rgb(239, 35, 60);
  text-decoration: none;
  position: relative;
  transition: 1s;
}

.subRow {
  width: auto;
  height: 3.5vh;
  list-style: none;
  padding-left: 1.2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
}

.row:hover {
  cursor: pointer;
  background-color: var(--hover-header);
  transition: 0.5s;
}

.row #icon {
  grid-area: logo;
  flex: 31%;
  display: grid;
  place-items: center;
}

.row #title {
  grid-area: title;
  align-items: center;
  justify-content: left;
  font-size: 1vw;
}

.row #arrow {
  grid-area: arrow;
  display: grid;
  place-items: center;
}

.subRow:hover {
  cursor: pointer;
  background-color: var(--hover-header);
  transition: 0.5s;
}

.subRow #icon {
  /* flex: 31%; */
  display: grid;
  place-items: center;
}

.subRow #title {
  /* flex: 69%; */
  margin-left: 5px;
  margin-right: 5px;
  width: 200px;
  display: grid;
  /* place-items: center; */
  font-size: 1vw;
}

/* Tooltip text */
.row .tooltiptext,
.subRow .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.8rem;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 20;
  top: 0;
  left: 105%;
  /* opacity: 0;
  transition: 1s ease-in-out; */
}

.row:hover .tooltiptext,
.subRow:hover .tooltiptext {
  visibility: visible;
  /* opacity: 1; */
}

.user {
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
  padding-bottom: 3vh;
  align-items: center;
  justify-content: center;
}

.user #pict {
  flex-basis: 3vw;
  display: grid;
  place-items: center;
  transition: 0.5s;
  font-size: 2vw;
}

.user #name {
  flex: 1;
  display: grid;
  place-items: center;
  font-size: 1.2vw;
}

.user #login {
  flex: 3vw;
  display: grid;
  place-items: center;
}

.sidebar .menu {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  color: white;
}

.icon {
  font-size: 2vw;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
