.newContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 92%;
  /* background-color: aqua; */
  /* overflow: hidden; */
}
.newContainer .content {
  flex: 85%;
  width: 100%;
  /* background-color: palegreen; */
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.newContainer .side {
  flex: 15%;
  width: 100%;
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hForm {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  /* background-color: orange; */
}

.hForm .seventy {
  flex: 80%;
  /* background-color: firebrick; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hForm .seventy #range {
  flex: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: bold;
  padding: 0.25rem 0 0.25rem 0;
  column-gap: 0.25rem;
  /* background-color: lightcoral; */
}

#range .rowButton,
#range .rowButton.buttonOn {
  /* background-color: maroon; */
  width: 12.5%;
}

#range .rowButton button {
  border: none;
  font-weight: bold;
  font-size: 2vw;
  width: 100%;
  border-radius: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--dark-text);
  background-color: transparent;
  /* background-color: yellow; */
}

#range .rowButton.buttonOn button {
  border: none;
  font-weight: bold;
  font-size: 2vw;
  width: 100%;
  border-radius: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--light-text);
  background-color: var(--header-color);
  transition: 0.5s;
  /* background-color: olivedrab; */
}

#range button:hover {
  background-color: var(--shadow-color);
  color: var(--dark-text);
  transition: 0.5s;
}

.hForm .seventy #input {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.25vh;
  justify-content: space-between;
  /* background-color: royalblue; */
}

.hForm .seventy #input input {
  width: 100%;
  font-size: 1vw;
  border: none;
  background-color: burlywood;
}

.hForm .seventy #display {
  flex: 85%;
  display: flex;
  flex-direction: column;
}

.hForm .thirty {
  flex: 20%;
  /* background-color: lime; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hForm .thirty #title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.25vh;
  font-size: 1vw;
  /* background-color: burlywood; */
}

.hForm .thirty .stat {
  flex: 50%;
  width: 100%;
  padding: 1rem;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: dodgerblue; */
}

.hForm .thirty .stat .indicator {
  background-color: rgb(236, 50, 55);
  width: 10vw;
  aspect-ratio: 2/1;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--light-text);
  transition: 0.5s;
}

.hForm .thirty .stat .indicator.statOn {
  background-color: rgb(0, 168, 90);
  color: var(--light-text);
  transition: 0.5s;
}

.hForm .sum {
  display: flex;
  width: 100%;
  height: 29vh;
  /* background-color: aqua; */
  overflow: hidden;
}

.hForm .full {
  flex: 100%;
  /* background-color: firebrick; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hForm .full #range {
  flex: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: bold;
  padding: 0.25rem 0 0.25rem 0;
  column-gap: 0.25rem;
  /* background-color: lightcoral; */
}

.hForm .full #display {
  flex: 85%;
  display: flex;
  flex-direction: column;
  /* background-color: cornflowerblue; */
}

.hForm .full #menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 0.2vw solid var(--dark-text);
  border-radius: 1vw;
  padding: 2.5% 2.5% 2.5% 2.5%;
  /* background-color: purple; */
}

.hForm .full #menu button {
  border: none;
  border-radius: 1vw;
  padding: 1rem;
  font-size: 1vw;
  font-weight: bold;
  word-wrap: break-word;
  width: 10vw;
  aspect-ratio: 1/1;
}

.vForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
}

.vForm .logo {
  flex: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: green; */
}

.vForm .logo img {
  width: 100%;
  aspect-ratio: 4/1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: chocolate; */
}

.vForm .buttons {
  flex: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2%;
  /* background-color: mediumpurple; */
}

.vForm .buttons button {
  border: none;
  width: 100%;
}

.vForm .buttons .gateControl {
  flex: 39.2%;
  width: 100%;
  padding: 5% 0 5% 5%;
  row-gap: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: palevioletred; */
}

.vForm .buttons .control {
  flex: 58.8%;
  width: 100%;
  padding: 5% 0 5% 5%;
  row-gap: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: peru; */
}

.vForm .buttons .sidepane {
  flex: 100%;
  width: 100%;
  padding: 5% 5% 5% 5%;
  row-gap: 2%;
  border: 0.2vw solid var(--dark-text);
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: palevioletred; */
}

.vForm .buttons .sidepane .stat {
  width: 100%;
  padding: 3vh 1rem 3vh 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: orange; */
}

.vForm .buttons .sidepane .stat .indicator {
  background-color: red;
  width: 10vw;
  aspect-ratio: 2/1;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--light-text);
  transition: 1s;
}

.vForm .buttons .sidepane .stat .indicator.indicator.statOn {
  background-color: greenyellow;
  color: var(--dark-text);
  transition: 1s;
}
