:root {
  /* --header-color: rgb(27, 33, 51); */
  --header-color: rgb(18, 19, 20);
  /* --hover-header: rgb(12, 18, 36); */
  --hover-header: rgb(55, 55, 56);
  --body-backgroud: rgb(228, 236, 247);
  --content-background: rgba(242, 246, 253, 0.681);
  --popup-background: rgb(254, 246, 255);
  --light-text: rgb(255, 255, 255);
  --dark-text: rgb(63, 72, 101);
  --shadow-color: rgba(0, 0, 0, 0.15);
  --border-color: rgb(151, 151, 151);
  --main-menu: rgb(239, 35, 60);
  --sub-memu: rgb(255, 255, 255);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@page {
  size: A4;
  /* size: 216mm 280mm; */
  margin: 5mm 10mm 5mm 10mm;
  color: re;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-backgroud);
  background-image: url("./image/wall2.jpg");
}

@media screen and (max-width: 1080px) and (orientation: portrait) {
  .App {
    position: fixed;
    top: 0;
    left: 0;
  }

  .App .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /* background-color: palevioletred; */
  }

  .App .container {
    position: fixed;
    top: 4vh;
    left: 0;
    /* background-color: magenta; */
  }

  .App .container #main {
    left: 0;
    width: 97vw;
    height: 85.5vh;
    margin: 0 1.5vw 1vh 1.5vw;
    padding: 0.5vh;
  }

  .App .container #foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 4vh;
    font-size: 1.25vh;
    /* background-color: gray; */
  }

  .table th {
    font-size: 1.5vh;
    word-wrap: break-word;
    text-align: center;
  }

  .table td {
    font-size: 1.2vh;
    word-wrap: break-word;
    text-align: center;
  }

  .table td input {
    font-size: 1vh;
  }

  table th {
    padding: 0.5vh 1vh;
  }

  table td {
    padding: 0.25vh 1vh;
  }
}

@media only screen and (min-width: 1081px) {
  .App {
    position: fixed;
    top: 0;
    left: 0;
  }

  .App .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    z-index: 1;
  }

  .App .container {
    position: fixed;
    top: 0;
    left: 3vw;
  }
  .App .container #main {
    width: 95vw;
    height: 95vh;
    margin: 1vh 1vw 1vh 1vw;
    padding: 0.5vw;
  }

  .App .container #foot {
    position: fixed;
    left: 3vw;
    bottom: 0;
    width: 97vw;
    height: 4vh;
    font-size: 0.9vw;
  }

  .table th {
    font-size: 1.5vw;
    word-wrap: break-word;
    text-align: center;
  }

  .table td {
    font-size: 1.2vw;
    word-wrap: break-word;
    text-align: center;
  }

  .table td input {
    font-size: 1vw;
  }

  table th {
    padding: 0.5vw 1vw;
  }

  table td {
    padding: 0.25vw 1vw;
  }
}

/* @media (min-width: 600px) { */
.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -2;
  overflow-y: none;
}

.App::-webkit-scrollbar {
  display: none;
}

.App .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.App .container #main {
  z-index: 0;
}

.App .container #foot {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.App .container #foot span {
  font-weight: bold;
}

h2 {
  text-align: center;
  color: var(--dark-text);
  font-size: 1.5vw;
}

.gaugeInfoLabel {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  text-align: center;
}

.table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.table thead {
  position: sticky;
  top: 0;
  /* border-radius: 0.9vw 0.9vw 0 0; */
  background-color: var(--header-color);
  color: var(--light-text);
  font-weight: bold;
  font-weight: bold;
}

.table tbody tr:nth-of-type(even) {
  background-color: rgb(210, 214, 222);
}

.table tbody tr:nth-of-type(odd) {
  background-color: var(--content-background);
}

.table tbody tr:last-of-type {
  border-bottom: 0.2vw solid var(--header-color);
}

.table tbody tr:hover {
  font-weight: bold;
  color: var(--hover-header);
}

.button {
  background-color: #8d99ae;
  border: 0.15vw solid #2b2d42;
  border-radius: 0.5vw;
  /* box-shadow: 0 5px #999; */
  color: #2b2d42;
  cursor: pointer;
  display: inline-block;
  font-size: 1vw;
  margin: 1vw 1vw;
  padding: 0.5vw 1.25vw;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.5s;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.button:hover {
  background-color: #2b2d42;
  color: #edf2f4;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\27A5";
  /* content: '\22D9'; */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 1.25vw;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:active {
  background-color: #2b2d42;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.delButton {
  position: relative;
  width: 8vw;
  height: 8vh;
  background-color: #333;
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
}

.delButton.active {
  background-color: #2196f3;
}

.delButton span {
  position: absolute;
  top: 2vh;
  left: 1.1vw;
  width: 1.5vw;
  height: 4vh;
  display: inline-block;
  background-color: #fff;
  border-radius: 0 0 0.25vw 0.25vw;
  transition: 0.5s;
}

.delButton:hover span {
  transform: scale(1.2) rotate(60deg) translateY(1.5vw);
}

.delButton.active span {
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  border-radius: 0;
  width: 20px;
  height: 10px;
  background: transparent;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.delButton span::before {
  content: "";
  position: absolute;
  top: -0.75vh;
  left: 0;
  width: 100%;
  height: 0.5vh;
  background-color: #fff;
  box-shadow: 1vw -0.4vh 0 #333, 1vw -0.6vh #333, 1.4vw -0.2vh #333,
    0.5vw -0.35vh 0 #fff;
  transition: 0.5px;
}

.delButton.active:hover span::before,
.delButton.active span::before {
  transform: scale(0);
}

.delButton:hover span::before {
  transform: rotate(-90deg) translateX(50%) translateY(-1vw);
}

.delButton text {
  position: absolute;
  color: #fff;
  right: 1.2vw;
  font-size: 1vw;
  transition: 0.5s;
}

.delButton:hover text,
.delButton.active text {
  transform: translateX(-4vw) translateY(-0.2vw) scale(0);
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information input {
  width: 300px;
  height: 1ev;
}

.center {
  text-align: center;
  margin: auto;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.75);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
}
/* On screens that are 992px wide or less, go from four columns to two columns
@media screen and (max-width: 992px) {
  .column {
    width: 100%;
  }
} */
