:root {
  --header-color: rgb(27, 33, 51);
  --hover-header: rgb(12, 18, 36);
  --body-backgroud: rgb(228, 236, 247);
  --content-background: rgba(242, 246, 253, 0.681);
  --popup-background: rgb(254, 246, 255);
  /* --content-background: yellow; */
  --light-text: rgb(255, 255, 255);
  --dark-text: rgb(63, 72, 101);
  --shadow-color: rgba(0, 0, 0, 0.15);
  --border-color: rgb(151, 151, 151);
  --main-menu: rgb(239, 35, 60);
  --sub-memu: rgb(255, 255, 255);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-backgroud);
  background-image: url("./image/wall2.jpg");
}

@media (max-width: 1600px) {
  .App {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .App::-webkit-scrollbar {
    display: none;
  }

  .App .navbar {
    width: auto;
  }

  .App .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    padding: 0;
  }
  .App .container .main {
    width: calc(100vw - 68px);
    /* position: fixed;*/
    flex: 90%;
    top: 0;
    left: 48px;
    margin: 10px;
  }
  .App .container .foot {
    width: calc(100vw - 68px);
    /* position: fixed;*/
    flex: 10%;
    top: 700px;
    left: 48px;
    margin-left: 10px;
    /* background-color: yellow; */
    font-size: 12px;
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .App {
    height: 100%;
    left: 0;
    margin: 0;
    min-height: 100vh;
    max-width: 100vh;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .App .navbar {
    width: auto;
    display: grid;
    place-content: center;
  }
  .App .main {
    width: calc(100vw - 68px);
    display: grid;
    place-content: center;
    position: fixed;
    top: 0;
    left: 48px;
    margin: 10px;
  }
}

h2 {
  text-align: center;
  color: var(--dark-text);
  font-size: 15px;
}

.gaugeInfoLabel {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  text-align: center;
}

.table {
  border-collapse: collapse;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  min-width: 400px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px var(--shadow);
}

.table thead tr {
  background-color: var(--header-color);
  color: var(--light-text);
  font-weight: bold;
  width: 100%;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid var(--border);
}

.table tbody tr:nth-of-type(even) {
  background-color: rgb(210, 214, 222);
}

.table tbody tr:nth-of-type(odd) {
  background-color: var(--content-background);
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid var(--header-color);
}

.table tbody tr:hover {
  font-weight: bold;
  color: var(--hover-header);
}

.button {
  background-color: #8d99ae;
  border: 2px solid #2b2d42;
  border-radius: 8px;
  /* box-shadow: 0 5px #999; */
  color: #2b2d42;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.button:hover {
  background-color: #2b2d42;
  color: #edf2f4;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\27A5";
  /* content: '\22D9'; */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:active {
  background-color: #2b2d42;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information input {
  width: 300px;
  height: 1ev;
}

.center {
  text-align: center;
  margin: auto;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

footer {
  color: black;
  background-color: yellow;
  text-align: center;
  font-size: 12px;
}
/* On screens that are 992px wide or less, go from four columns to two columns
@media screen and (max-width: 992px) {
  .column {
    width: 100%;
  }
} */
